
h1{
    font-size:  70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    text-align: center;
    
}
 body {
    margin: 220px;
    height: 100%;
  }

  body {
    overflow: hidden;
  }