<!DOCTYPE html>
<html>
<head>
    <title>Historial de rutas</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
</head>
<body>
  <h2>Ingrese la ventana de tiempo deseada</h1>

  <section>
    <div class="Input-container">
      <form action="/api/Historial" method="post">
        <label for="ID">ID del vehiculo:</label>
        <input type="text" id="ID" name="ID"><br><br>
          
        <label for="fechain">Fecha (YYYY-MM-DD):</label>
        <input type="date" id="fechain" name="fechain"><br><br>
          
        <label for="appt">Seleccione el tiempo inicial:</label>
        <input type="time" id="appt" name="appt"></textarea><br><br>
          
        <label for="apptf">Seleccione el tiempo final:</label>
        <input type="time" id="appft" name="apptf"></textarea><br><br>
    
        
      </form>
      <input type="submit" value="Send">
        <button id = "returnToHome">Regresar</button>
    </div>
  </section>  
  <div id="mapa" style="width: 800px; height: 440px; border: 1px solid #aaa;"></div>

  <script>
    var mapa = L.map('mapa').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
   }).addTo(mapa);
  </script>
  <script>
      document.getElementById('returnToHome').addEventListener('click',
      () => {
        window.location.href = '/';
        })
  </script>
</body>
</html>