<!DOCTYPE html>
<html>
<head>
    <title>Historial de rutas</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
</head>
<body>
  <h2>Ingrese la ventana de tiempo deseada</h1>
  <div id="map"></div>
    
  <form action="/api/Historial" method="post">
    <label for="ID">ID del vehiculo:</label>
    <input type="text" id="ID" name="ID"><br><br>
      
    <label for="fechain">Fecha (YYYY-MM-DD):</label>
    <input type="date" id="fechain" name="fechain"><br><br>
      
    <label for="appt">Seleccione el tiempo inicial:</label>
    <input type="time" id="appt" name="appt"></textarea><br><br>
      
    <label for="apptf">Seleccione el tiempo final:</label>
    <input type="time" id="appft" name="apptf"></textarea><br><br>

    <input type="submit" value="Send">
  </form>

  <button id = "returnToHome">Regresar</button>

  <script>
      document.getElementById('returnToHome').addEventListener('click',
      () => {
        window.location.href = '/';
        })
  </script>
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
 <script src="histdex.js"></script>
</body>
</html>