<!DOCTYPE html>
<html>
  <head>
    <title>Historial de rutas</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/styles.css"
      media="screen"
    />
  </head>
  <body>
    <section>
      <div class="Input-container">
        <form action="/api/Historial" method="post">
          <input type="text" name="datetimes" />

          <script>
            $(function () {
              $('input[name="datetimes"]').daterangepicker({
                minYear: 2023,
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                startDate: "2023/03/06",
                endDate: "2023/03/15",
                startDate: moment().startOf("hour"),
                endDate: moment().startOf("hour").add(32, "hour"),
                locale: {
                  format: "YYYY/MM/DD hh:mm:ss",
                },
              });
            });
          </script>
        </form>
        <input type="button" value="Send" id="sendBtn" />
        <script>
          $(function () {
            $("#sendBtn").click(function () {
              $.ajax({
                url: "/api/historicos",
                data: {
                  startTime: $('input[name="datetimes"]')
                    .data("daterangepicker")
                    .startDate.format("YYYY/MM/DD hh:mm:ss"),
                  endTime: $('input[name="datetimes"]')
                    .data("daterangepicker")
                    .endDate.format("YYYY/MM/DD hh:mm:ss"),
                },
                success: function (data) {
                  console.log(data);
                },
              });
            });
          });
        </script>
        <button id="returnToHome">Regresar</button>
      </div>
    </section>
    <div id="mapa"></div>

    <script>
      var mapa = L.map("mapa").setView([51.505, -0.09], 13);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(mapa);
    </script>
    <script>
      document.getElementById("returnToHome").addEventListener("click", () => {
        window.location.href = "/";
      });
    </script>
  </body>
</html>
