<!DOCTYPE html>
<html>
<head>
    <title>Historial de rutas</title>
</head>
<body>
    <h1>Ingrese la ventana de tiempo deseada</h1>
    <form action="submit-form.php" method="post">
      <label for="ID">ID del vehiculo:</label>
      <input type="text" id="ID" name="ID"><br><br>
      
      <label for="fechain">Fecha (YYYY-MM-DD):</label>
      <input type="date" id="fechain" name="fechain"><br><br>
      
      <label for="appt">Seleccione el tiempo inicial:</label>
      <input type="time" id="appt" name="appt"></textarea><br><br>
      
      <label for="apptf">Seleccione el tiempo final:</label>
      <input type="time" id="appft" name="apptf"></textarea><br><br>

      <input type="submit" value="Send">
    </form>
    <script>

    </script>
</body>
</html>