<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" , charset="UTF-8" />
    <title>GPS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/styles.css"
      media="screen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="height=device-height, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Leaflet prep-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
  </head>

  <body>
    <div class="texto">
      <h1>LAT: <span id="latitud"></span></h1>
      <h1>LONG: <span id="longitud"></span></h1>
      <h1>FECHA: <span id="fecha"></span></h1>
      <h1>HORA: <span id="hora"></span></h1>
      <h1>ID: <span id="id"></span></h1>
    </div>

    <div id="nav"></div>
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
