<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" , charset="UTF-8" />
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <title>GPS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/styles.css"
      media="screen"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="height=device-height, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Leaflet prep-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
  </head>

  <body>
    <div class="map-container">
      <div id="nav"></div>
    </div>
    <div class="content-container">
      <div class="logo">
        <img src="assets/GreeTrace.png">
      </div>
      <div class="latitud">
        <img src="assets/latitud.png" class="laticon" />
        <h3 class="lat">Latitud:</h3>
        <h1><span id="latitud"></span></h1>
      </div>

      <div class="longitud">
        <img src="assets/longitud.png" class="lonicon" />
        <h3 class="long">Longitud:</h3>
        <h1><span id="longitud"></span></h1>
      </div>
      <div class="time">
        <img src="assets\reloj32.png" class="reloj" />
        <span id="hora"></span>
        <span id="fecha"></span>
      </div>
      <div class="id">
        <img src="assets/carro30.png" class="carro" />
        <h1><span id="id"></span></h1>
      </div>
      <div class="buttons-container">
        <button id="historico">
          <img src="assets/calendario29.png" class="calendar" /> Consultar
          historicos
        </button>
        <button id="idselector">
          <img src="assets/carros27.png" class="carros" />
        </button>
      </div>
    </div>

    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script>
      document.getElementById("historico").addEventListener("click", () => {
        window.location.href = "/historial";
      });
    </script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
