 /* HOME*/
.long,.lat {
  font-size: 13px;
  font-weight: lighter;
  color: grey;
  margin: 0px;
}

.longitud,
.latitud,
.id,
.time {
  background-color: gainsboro;
  border-radius: 20px;
  font-family: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-block: 20px;
}
.carro {
  margin-right: 20px;
}
.reloj {
  font-size: 50px;
  margin-right: 10px;
}
.lonicon,
.laticon {
  margin-bottom: 5px;
}
.calendar {
  padding-right: 10px;
}


#latitud,
#longitud {
  font-size: 18px;
  font-weight: 200;
  font-family: initial;
}

#hora {
  font-size: 30px;
  font-family: initial;
}
#id {
  font-size: 30px;
  font-family: initial;
}
#fecha {
  font-family: "Times New Roman", Times, serif;
}

.id {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*--------------------- General ------------------ */

h1 {
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}
body {
  height: 100%;
  display: flex;
  background-color: white;
  color: black;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin: 20px;
}

#historico {
  border: 0;
  width: 100%;
  margin-right: 10px;
  background-color: rgba(37, 37, 37, 1);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
  padding: 10px;
}
#idselector {
  border: 0px;
  width: 70px;
  background-color: rgba(37, 37, 37, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 100%;
}
#sendBtn, #returnToHome{
  border: 0px;
  width: 140px;
  background-color: rgba(37, 37, 37, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 25px;
  align-self: center;
}

#dateSelect{
  border-radius: 20px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

#slider,#sliderZoom{
 border-radius: 10px;
 width: 390px;
 align-self: center;
}
/* Mapa */

#mapa {
  height: calc(100vh - 15px);
  width: 95%;
  border-radius: 20px;
}
#nav{
  height: calc(100vh - 15px);
  width: 95%;
  border-radius: 20px;
  left: 0%;
}

.displayContainer{
  border-radius: 20px;
    font-family: system-ui;
    text-align: center;
    border-width: 20px;
    border-color: #357ebd;
    color:black;
    height: 30px;
    border-color: black;
    background-color: beige;
}
.noUi-horizontal .noUi-handle {
  width: 23px;
  height: 25px;
  right: -17px;
  top: -5px;

}
/* Historicos*/

.Input-container {
  width:400px;
  padding-inline: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 500px;

}
.content-container {
  width: 350px;
  padding-inline: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}