
/* HOME*/
.long,.lat{
  font-size: 13px;
  font-weight: lighter;
  color: grey;
  margin: 0px;
}

.longitud,.latitud,.id,.time{
  left: 85%;
  background-color:gainsboro;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: initial;
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  width: 250px;
  left: 85%;
}
.carro{
margin-right: 20px;
}
.reloj{
  font-size: 50px;
  margin-right: 10px;
}
.lonicon,.laticon{
  margin-bottom: 5px;
}
.calendar{
  padding-right: 10px;
}

/*Texto del div*/
#latitud,#longitud{
  font-size: 18px;
  font-weight: 200;
  font-family: initial;
}

#hora{
  font-size:  42px;
  font-family: initial;
 
}
#id{
  font-size: 30px;
  font-family: initial;

}
#fecha{
  padding-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
}

/* divs de coordenadas, hora y fecha*/
.longitud{
    top: 72.92%;  
    height: 75px;
}

.latitud{
  top: 53.24%;
  height: 75px;
}
.time{
    top: 14%;
    height: 100px;
    font-size: 25px;
    padding-top: 30px;
  
}
.id{
  top: 35%;
  height: 55px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*--------------------- General ------------------ */
.main{
  background-color: white;
  color:black;
  vertical-align: middle;
}
h1{

  font-size:  15px;
  font-family: monospace;   
  text-align: center;
  font-weight: lighter;

}
body {
  height: 100%;
  display: flex;
  
  align-items: center;
  }

/* Botones */
/*.tiemporeal{
  position: absolute;
			top: 70%;
			left: 11%;
			transform: translate(-50%, -50%);
      background-color: blue;
}*/
#historico{
  position: fixed;
      top: 88%;
      left: 74.8%;
      border: 0;
      width: 200px;
      background-color:rgba(37, 37, 37, 1);
      color: white;
      display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 50px;
  padding: 10px;
  padding-left: 22px
}
#idselector{
  position: fixed;
      top: 88%;
      left: 90.5%;
      border: 0;
      width: 70px;
      background-color:rgba(37, 37, 37, 1);
      color: white;
      display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px
}
/* Mapa */

#nav,#mapa{
  height: calc(100vh - 15px);
  width: 70%; 
  border-radius: 20px;
  left: 1%;
  position: static;
}
 /* Historicos*/

.Input-container{
  width: 350px;
  height: 503px;
  left: 80%;
  position: fixed;
  left: 80%;
}
